In [2]:
import sqlite3
import pandas as pd

In [3]:
conn = sqlite3.connect('FF_data')
print("connected to sqlite3 verion:", sqlite3.version)

connected to sqlite3 verion: 2.6.0

In [22]:
df = pd.read_sql_query(
     """SELECT APINumber
              ,OperatorName
              ,JobEndDate
              
        from RegistryUpload"""
       ,conn)

In [23]:
# Review top five rows
df.head()

        APINumber                   OperatorName              JobEndDate
0  49009219470000     Chesapeake Operating, Inc.   5/19/1982 12:00:00 AM
1  49009228850000     Chesapeake Operating, Inc.    2/7/1995 12:00:00 AM
2  42335355480000  Energen Resources Corporation   6/11/1996 12:00:00 AM
3  42395313840000          XTO Energy/ExxonMobil  12/13/2001 12:00:00 AM
4  37059247370000             CONSOL Energy Inc.   9/22/2008 12:00:00 AM

In [24]:
# Add date to start recording dates wells were added to FracFocus.org
df['pullDate'] = pd.to_datetime('today').date()

In [25]:
# See the added column in the last three rows
df = df.drop_duplicates().reset_index(drop=True)
df.tail(3)

,APINumber,OperatorName,JobEndDate,pullDate
173916,42173346750000,Berry Petroleum,5/23/2021 12:00:00 AM,2020-10-18
173917,42115334560000,Pioneer Natural Resources,6/8/2021 12:00:00 AM,2020-10-18
173918,42227368950000,"Meritage Energy Company, LLC",4/1/3012 12:00:00 AM,2020-10-18

In [26]:
df.to_sql('fracChronicle', conn, index=False, if_exists='replace')

In [27]:
conn.close()